<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_splash_4"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidNativeApp1"
        tools:targetApi="31">
        <activity
            android:name=".ConfirmLogoutLayout"
            android:exported="false"
            android:label="@string/title_activity_confirm_logout_layout"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".settings.FrequentlyAskedQuestions"
            android:exported="false"
            android:label="@string/title_activity_frequently_asked_questions"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".settings.Security"
            android:exported="false"
            android:label="@string/title_activity_security"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".settings.PrivacyPolicy"
            android:exported="false"
            android:label="@string/title_activity_privacy_policy"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".settings.Notifications"
            android:exported="false"
            android:label="@string/title_activity_notifications"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".settings.EditProfile"
            android:exported="false"
            android:label="@string/title_activity_edit_profile"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".settings.Profile"
            android:exported="false"
            android:label="@string/title_activity_profile"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".translator.SessionCompletedLayout"
            android:exported="false"
            android:label="@string/title_activity_session_completed_layout"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".translator.OngoingSessionView"
            android:exported="false"
            android:label="@string/title_activity_ongoing_session_view"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".utilities.CameraActivity"
            android:label="Camera Activity">
        </activity>
        <activity
            android:name=".translator.SessionStartCountdown"
            android:exported="false"
            android:label="@string/title_activity_session_start_countdown"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".translator.CancelSessionLayout"
            android:exported="false"
            android:label="@string/title_activity_cancel_session_layout"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".translator.SessionStartView"
            android:exported="false"
            android:label="@string/title_activity_session_start_view"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".translator.ScanQrCode"
            android:exported="false"
            android:label="@string/title_activity_scan_qr_code"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".video_chat.InviteFriendLayout"
            android:exported="false"
            android:label="@string/title_activity_invite_friend_layout"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".video_chat.Chat"
            android:exported="false"
            android:label="@string/title_activity_chat"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".video_chat.ChatOptionsLayout"
            android:exported="false"
            android:label="@string/title_activity_chat_options_layout"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".Chat"
            android:exported="false"
            android:label="@string/title_activity_chat"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".video_chat.ContactList"
            android:exported="false"
            android:label="@string/title_activity_contact_list"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".video_chat.ChatList"
            android:exported="false"
            android:label="@string/title_activity_chat_list"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".video_chat.ChatInitialPage"
            android:exported="false"
            android:label="@string/title_activity_chat_initial_page"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".learn.CancelQuizLayout"
            android:exported="false"
            android:label="@string/title_activity_cancel_quiz_layout"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".learn.QuizCompletedLayout"
            android:exported="false"
            android:label="@string/title_activity_quiz_completed_layout"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".learn.OngoingQuiz"
            android:exported="false"
            android:label="@string/title_activity_ongoing_quiz"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".learn.ListOfSubLessons"
            android:exported="false"
            android:label="@string/title_activity_list_of_sub_lessons"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".learn.OngoingLesson"
            android:exported="false"
            android:label="@string/title_activity_ongoing_lesson"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".learn.ListOfQuizzes"
            android:exported="false"
            android:label="@string/title_activity_list_of_quizzes"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".learn.ListOfLessons"
            android:exported="false"
            android:label="@string/title_activity_list_of_lessons"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".reset_password.ResetPasswordLayout"
            android:exported="false"
            android:label="@string/title_activity_reset_password_layout"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".reset_password.CreateNewPassword"
            android:exported="false"
            android:label="@string/title_activity_create_new_password"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".reset_password.ResetPasswordVerifyCode"
            android:exported="false"
            android:label="@string/title_activity_reset_password_verify_code"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".signup.SignupFinishLayout"
            android:exported="false"
            android:label="@string/title_activity_signup_finish_layout"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".signup.SignupFinish"
            android:exported="false"
            android:label="@string/title_activity_signup_finish"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".LeftDrawerLayout"
            android:exported="false"
            android:label="@string/title_activity_left_drawer_layout"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".home.ViewTranslationLayout"
            android:exported="false"
            android:label="@string/title_activity_view_translation_layout"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".reset_password.ResetPasswordEmail"
            android:exported="false"
            android:label="@string/title_activity_reset_password_email"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".home.SavedTranslations"
            android:exported="false"
            android:label="@string/title_activity_saved_translations"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".home.Home"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".home.HomeScreen"
            android:exported="false"
            android:label="@string/title_activity_home_screen"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".login.Login"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".signup.Signup"
            android:exported="false"
            android:label="@string/title_activity_signup"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".splash_screen.Onboarding4"
            android:exported="false"
            android:label="@string/title_activity_onboarding4"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".splash_screen.Onboarding3"
            android:exported="false"
            android:label="@string/title_activity_onboarding3"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".splash_screen.Onboarding2"
            android:exported="false"
            android:label="@string/title_activity_onboarding2"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".splash_screen.Onboarding1"
            android:exported="false"
            android:label="@string/title_activity_onboarding1"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".Signup"
            android:exported="false"
            android:label="@string/title_activity_signup"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".Onboarding4"
            android:exported="false"
            android:label="@string/title_activity_onboarding4"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".Onboarding3"
            android:exported="false"
            android:label="@string/title_activity_onboarding3"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".Login"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".Onboarding2"
            android:exported="false"
            android:label="@string/title_activity_onboarding2"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".Onboarding1"
            android:exported="false"
            android:label="@string/title_activity_onboarding1"
            android:theme="@style/Theme.AndroidNativeApp1" />
        <activity
            android:name=".SecondaryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_secondary"
            android:theme="@style/Theme.AndroidNativeApp1.Fullscreen" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

</manifest>
